.titre:nth-child(2)
{
}
.logo1:nth-child(1)
{ 
	width: 400px;
}
.simplon{
	width: 350px;
}
.logo2:nth-child(3)
{
	width: 400px;
	position: relative;
	top: 60px; 
	float: right;
}

h1 {
	color: red;
	position: relative;
	top: 60px;
	text-align: center;
}

.form {
	text-decoration: underline;
	text-align: center;
}

.appr {
	text-decoration: underline;
	text-align: center;
}

.noms {
	color: blue;
}
.top {
	display: flex;
	justify-content: space-between;
}
.formateur {
    text-align: center;
}

.formateur div{
	display: inline-block;
}

.formateur img{
	border-radius: 50%;
	width: 150px;
    height: 150px;
}

.apprenants{
	text-align: center;
}

.apprenants div{
	display: inline-block;
}

.apprenants img{
	border-radius: 50%;
	width: 150px;
    height: 150px;
}





.searchbar{
	position: relative;
	float: right;
	top: -600px;
}

.photo1{
	width: 300px;
	border-radius: 50%;
	position: relative;
}
section img{
	width: 80px;
	text-align: center;
}

